<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books</title>
</head>

<body>
    <form method="POST" action="/">
        <input type="text" name="title">
        <input type="submit" value="Add">
    </form>
    <h1>Books:</h1>
    <table>
        {% for book in books %}
        <tr>
            <td>
                <form method="POST" action="./update" style="display: inline">
                    <input type="hidden" value="{{book.title}}" name="oldtitle">
                    <input type="text" value="{{book.title}}" name="newtitle">
                    <input type="submit" value="Update">
                </form>
            </td>
            <td>
                <form method="POST" action="./delete" style="display: inline">
                    <input type="hidden" value="{{book.title}}" name="title">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>